html, body{
  height: 100%;
}
#weather-main{
  padding: 1em;
  background: no-repeat center url('../img/tadej-skofic-571573-unsplash.jpg');
  background-size: cover;   
  height: 100%;
  /*background-color: grey;*/
}

.hero-box{
  opacity: 0.7;
  background-color:white;
}

* { 
  box-sizing: border-box;
}/*Makes it easier to size elements since the borders are included in the sizing, instead of added on*/

#wikiBody{
  padding: 1em;
  background-image:url('https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png');
  background-repeat:no-repeat;
  background-size: cover;   
  height: 100%;
}

button, .btn{
  margin-top:1em;
  margin-bottom:1em;
}

#resultsList{
  background-color: rgba(209, 209, 209, 0.8);  /* 50% transparent */
  
}

.logo{
  height: 50px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon{
  height: 10px;
  width: 5px;
}