<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SQL Contact App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="/js/contact.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Lazer Porter | Full Stack Dev</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wikipedia_viewer">Wikipedia Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/sql-contact">SQL Contact List</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-flex">
        <div class="row py-4">
            <div class="col">
                <h1 class="display-4 text-center">Contact List</h1>
                <br><br>
                <p class="lead text-center">The below contact list is connected to a MySQL database. Adding a contact
                    will update the database and the updated table will populate on this page.</p>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2"></div>
            <div class="col-md-8">
                <form action="/sql-contact" method="POST">
                    <div class="row">
                        <div class="col-lg">
                            <input type="text" name="first_name" class="form-control mb-3 mx-3" placeholder="First Name" required>
                        </div>
                        <div class="col-lg">
                            <input type="text" name="last_name" class="form-control mb-3 mx-3" placeholder="Last Name" required>
                        </div>
                        <div class="col-lg">
                            <input type="number" name="phone" class="form-control mb-3 mx-3" placeholder="Phone" required> 
                        </div>
                        <div class="col-lg">
                            <button type="submit" class="btn btn-primary mb-3 mx-3">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><br>

        <% if(hasContacts) { %>
        <div class="row">
            <div class="offset-md-2"></div>
            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let [index, person] of contacts.entries()) { %>
                        <tr id="<%= person.phone %>">
                            <th scope="row">
                                <%= index+1 %>
                            </th>
                            <td>
                                <%= person.first_name %>
                            </td>
                            <td>
                                <%= person.last_name %>
                            </td>
                            <td>
                                <%= person.phone %>
                            </td>
                            <td>
                                <button class="btn btn-danger" onclick="deleteContact(<%= person.phone %>)">
                                    <i class="fa fa-trash" aria-hidden="true" ></i>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <% } %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>