<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">


    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="./js/weather.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Lazer Porter | Full Stack Dev</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/weather">Weather App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wikipedia_viewer">Wikipedia Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sql-contact">SQL Contact List</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid" id="weather-main">
        <div class="jumbotron hero-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex flex-row">
                        <h1 class="display-4">
                            <span id="cityName"></span>
                            <span id="stateName"></span></h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <span class="display-4" id="temperature"></span>
                        <a href="#"><sup id="tempUnits" class="h3"></sup></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <span id="dateTime"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" id="weatherIcon" src="">
                    <span id="weatherType"></span>
                </div>
            </div>

            <hr class="my-4">
            <p>Design by Lazer Porter</p>

            <!--Photo Credit-->
            <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;"
                href="https://unsplash.com/@tadej?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Tadej Skofic"><span
                    style="display:inline-block;padding:2px 3px;"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;"
                        viewBox="0 0 32 32">
                        <title>unsplash-logo</title>
                        <path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path>
                    </svg></span><span style="display:inline-block;padding:2px 3px;">Tadej Skofic</span></a>
            <p class="lead">
            </p>
        </div>
    </div>


    <!-- 
          
          Figure out how to show location name (maybe google map integration)
          Review checklist and final touches
          -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/3.0.0/js/fontawesome-iconpicker.js'></script>
</body>

</html>